body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.search-container {
    text-align: center;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.btn {
    width: 75%;
    max-width: 500px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
}

.output-container {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    overflow-y: auto;
    height: 400px;
}

.name-url {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

 a:link{
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  